
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;      
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: #e53937;
    border-radius: 10px;
}
html::-webkit-scrollbar{
    width: 10px;
}

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;      
}
html::-webkit-scrollbar-track{
  background: transparent;
}
html::-webkit-scrollbar-thumb{
  background: #e53937;
  border-radius: 10px;
}
html::-webkit-scrollbar{
  width: 10px;
}

/* Navbar Start */
#navbar{
  background: white;
  padding: 0px 9% 0px;
  position: fixed;
  top: 0;
  z-index: 1000;
}
#logo img{
  width: 180px;
  margin-top:3px;
}
.nav-item .nav-link{
  color: #333333;
  font-size: 16px;
  font-weight: 550;
  transition: 0.5s;    
}
.nav-item .nav-link:hover{
  color:#e53937;
}
#nvabar input{
  border-radius: 50px;
}
#btn{
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #e53937;
  background: transparent;
  transition: 0.5s;
}
#btn:hover{
  background: #e53937;
  color:#004AAD;

}
/* Navbar End *



/* Home Section Start */
.home{
    width:100%;
    height:100vh;
    padding:5px 11% 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position:relative;
    z-index: 0;
}
.home .img{
    flex: 1 1 300px;
    background-color: #fff;

}
.home .img img{
    width:100%;
    margin-left:60px;
}

.home-content{
    flex: 1 1 400px;
    margin-top: 30px;
}
.home-content h3{
    font-size: 40px;
    font-weight: 700px;
}
.home-content h3 span{
    color:#e53937; 
}
#home-btn{
    padding: 10px;
    text-decoration: none;
    background:#e53937;
    color:#f6f6f7;
    border-radius: 5px;
}
@media screen and (max-width:873px){
    .home .img meencurry.png{
        margin-left: 0px;
    }
}
/* Home Section End */




/* Top Section Start */
.top-section{
    padding: 10px 11% 100px;
}
.top-section h5{
    color:#e53937;
    text-align: center;
}
.top-section h3{
    color: black;
    text-align: center;
    font-weight: 600;
}
.top-section .row{
    margin-top: 30px;
    align-items: center;
}
.top-section .row .card{
    border:none;
}
.top-section .row .card img{
    width: 200px;
    margin:auto;
}
.top-section .card-body{
    text-align: center;
}
.top-section .card-body h1{
    font-size:25px;
    font-weight: 600;
}
/* Top Section End*/

/* Adding to cart*/
* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

.cart-btn {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-end;
}

#cart {
  position: relative;
  font-size: 2rem;
  cursor: pointer;
  margin: 1em 4em 0 0;
}

.cart-quantity {
  color: white;
  background-color: red;
  padding: .2em .3em;
  position: absolute;
  margin: .8em 7.5em 0 0;
  right: 0;
  border: solid 2px red;
  border-radius: 15px;
  font-weight: bolder;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-top: 1em
}

.card {
/*   width: 15rem; */
  margin: 1em;
  position: relative;
  overflow: hidden; 
  text-align: center
}

.card:hover .add-to-cart {
  transform: translateX(0);
}

.product-image {
  margin-bottom: 1em
}

.add-to-cart {
  background-color: black;
  color: white;
  position: absolute;
  right: 0;
  top: 65%;
  padding: .5em 1em; 
  transform: translateX(300px);
  transition: .5s ease;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: bolder;
  font-size: 1.2rem
}

.product-price {
  padding-top: 1em;
  font-weight: bold;
  font-size: 1.5rem;
}

.cart-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 2;
  transform: translateX(-200%);
  transition: .5s ease-out;
  
}

.cart-modal {
  height: 100vh;
  width: 50%;
  background-color: rgb(50,50,50);
  float: right;
  overflow: scroll;
  overflow-x: hidden;
}

#close-btn {
  font-size: 1.5rem;
  float: right;
  margin: .5em 2em 0 0;
  color: white;
  cursor: pointer;
}

.cart-is-empty {
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1em;
  display: none;
  
}

.total {
  text-align: center;
  margin: 2em 0 2em 0;
/*   display: none; */
}

.cart-total {
  color: white;
}

.total-price {
  color: white;
  font-size: 2rem;
  display: block;
}

.purchase-btn {
  font-size: 1rem;
  font-weight: bolder;
  background-color: green;
  color: white;
  padding: 1em 2em;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 2em 0 1em 0;
}

.product-rows {
  margin-top: 3em;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  
}

.product-row {
  display: flex;
  align-items: center;
}

.cart-image {
  width: 10rem;
  margin: 1em;
}

.cart-price {
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
}

.product-quantity {
  width: 4rem;
  font-size: 2rem;
  margin-left: 3rem;
}

.remove-btn {
  padding: 1em 2em;
  background-color: red;
  color: white;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 3rem;
  font-weight: bolder;
  font-size: 1rem;
}

.remove-btn:active {
  transform: translateY(5px);
}

@media (max-width: 1000px){
  .cart-modal {
    width: 100vw;
  } 
  
  .product-row {
    flex-direction: column;
    text-align: center;
    margin-bottom: 2em;
  }
  
  .remove-btn {
    margin: 0
  }
  
  .product-quantity {
    margin: .5em 0 .5em 0
  }
}
/* Adding to cart*/

/* Reviews*/
* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0 auto; /* Center website */
  max-width: 800px; /* Max width */
  padding: 20px;
}

.heading {
  font-size: 25px;
  margin-right: 25px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 15%;
  margin-top:20px;
}

.middle {
  margin-top:20px;
  float: left;
  width: 70%;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  .right {
    display: none;
  }
}
/* Reviews*/

    /* Log In Form*/
    @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }
    body{
      min-height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
    }
    .wrapper{
      position: relative;
      max-width: 430px;
      width: 100%;
      background: #fff;
      padding: 34px;
      border-radius: 6px;
      box-shadow: 0 5px 10px rgba(0,0,0,0.2);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      margin-top: 50px; /* Increase this value */
    }
    .wrapper h2{
      position: relative;
      font-size: 22px;
      font-weight: 600;
      color: #333;
    }
    .wrapper h2::before{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 3px;
      width: 28px;
      border-radius: 12px;
      background: #4070f4;
    }
    .wrapper form{
      margin-top: 30px;
    }
    .wrapper form .input-box{
      height: 52px;
      margin: 18px 0;
    }
    form .input-box input{
      height: 100%;
      width: 100%;
      outline: none;
      padding: 0 15px;
      font-size: 17px;
      font-weight: 400;
      color: #333;
      border: 1.5px solid #C7BEBE;
      border-bottom-width: 2.5px;
      border-radius: 6px;
      transition: all 0.3s ease;
    }
    .input-box input:focus,
    .input-box input:valid{
      border-color: #4070f4;
    }
    form .policy{
      display: flex;
      align-items: center;
    }
    form h3{
      color: #707070;
      font-size: 14px;
      font-weight: 500;
      margin-left: 10px;
    }
    .input-box.button input{
      color: #fff;
      letter-spacing: 1px;
      border: none;
      background: #4070f4;
      cursor: pointer;
    }
    .input-box.button input:hover{
      background: #0e4bf1;
    }
    form .text h3{
     color: #333;
     width: 100%;
     text-align: center;
    }
    form .text h3 a{
      color: #4070f4;
      text-decoration: none;
    }
    form .text h3 a:hover{
      text-decoration: underline;
    }